@for $i from 1 through 12 {
    $w: ($i / 12) * 100%;

    .large-#{$i} {
        flex-basis: $w;
    }
}
.navcontainer{
    .row{
      
        flex-wrap:wrap;
    
    }
}
nav{
    max-width:100%;
    margin:auto;
}
nav ul{

    width:40%;
    max-width:600px;
 
}
nav li {
    width:20%;
    padding:.6em 0em 0em 0em;
}
nav a {
    padding: .7rem 1rem;
}


.servicerowcontainer {
    

    .row .house{
        width: 50%;
    }
    
    .row .lane{
        width: 50%;
    
    }}

    .servicepics{
      
        width:50%;
        .col{
       
            width:50%;
            img{
                min-width:100%;
            }
        }
    }

     
.footercontain {
    width: 100%;
    
    margin: auto;
    background-color: $primaryColor;
    padding: 1em;
    height:100%;
    

    h2 {
        color: $secondaryColor;
        font-size: 2.5em;
        margin: 1.0em 0.5em .0em 1.5em;
    }
    .crcontainer{
        width:25%;
        
    }

    .row {
        width: 75%;
        padding: 0em;
        margin: auto;
     
    }

    .col {
        flex-wrap: nowrap;
        flex-basis:25%;
        padding:0em 0em ;
        
       
    }
}


#thanks{
    img{
        max-width:7%;
    }
}
