html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


body {
    background-image: url("images/backround.jpg");
    margin-top: 0px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    margin-left: auto;
    margin-right: auto;
    background-color: lightgray;
    background-repeat:repeat;
}
 /* grid rules*/
 .row {
     width:100%
     display: flex;
     flex-wrap: wrap;
 }

@for $i from 1 through 12 {
    $w: ($i / 12) * 100%;
    .small-#{$i} {flex-basis: $w;}
} // END LOOP

 .column{
    padding: 0 2vw; 
    margin: 0 0 .75rem 0;
}

 .small-12{
    flex-basis: 100%
}

.limited{
    max-width: 150em;
    margin:auto;
}

.mainimage{
    max-width: 60em;
    margin:auto;
  
}

.small-6 {
    width:50%
}

footer{
    background-color: $primaryColor;
    font-size: 1.6rem;
}

footer h2{
    font-family: sans-serif;
    font-style: italic;
    text-transform:uppercase;
    margin: 1rem 0 .3rem 0;
    color: $secondaryColor
}

/* Header Rules */
header{
    background-color:$primaryColor  ;
}

header img {
    float: left;
    height: 100px;
    padding-right:10px;
}

header h2, header h1{ 
    margin: 0;
    color:$secondaryColor;
    font-weight:700;
    font-style:italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header h1{
    padding: .5rem 0 0 0;
    font-size: 1.45rem;
}

header h2 {  
    padding: .2rem 0 0 0;
    font-size: 1.05rem;
}

/* CSS for Hamburger */
button#hamburgerbtn{
    background: none;
    border: nonecolor #fff;
    font-size: 2.4rem;
    cursor:pointer;
    padding: 0 30px 0 2vw;
}

nav {
    background-color: $secondaryColor
}
nav ul {
    margin: 0; 
    padding: 0;
}
nav ul li {
    list-style-type:none; 
    color: $primaryColor;
    display: flex;
}
nav a {
    display: block;
    padding: .8rem 0;
    color:$primaryColor;
    text-align: center;
    text-decoration: none;
}

nav li.active {background-color: rgba(161, 131, 87, 0.3);}
nav a:hover {background-color: rgba(219, 176, 126, 0.822);}
nav ul.open {display: block;}
nav ul {display: none;}

main img {
    width:100%;
    height: auto;
    box-shadow: 20px 4px 12px black
   
}

main h1, main h3{
    color: $secondaryColor;
    font-style: italic;
    margin: .5rem 0 .1rem 2rem;    
}

main {
    h1 {font-size: 3rem;
        text-align: center; 
        color:$primaryColor}
    h3 {font-size: 1.2rem;}
     p { font-size: 1.2rem;
         margin: 0 0 .3rem 0;}
}
.services{
    text-align: center;
    position: relative;
}

.services h1 {
    text-align: center;
    padding:0 0 2rem
}

.services h2, .services p {
    position:absolute;
    background-color: $primaryColor;
    margin:0;
    width: 92%;
    padding: .3rem 1rem;
}

.services h2 {
    top:0;
    font-size: 2rem;
    font-weight:700;
    color:$secondaryColor;
}

.services p {
    bottom:0;
    font-weight:300;
    color:$secondaryColor;
}
/* .services img {
    width: 100%
}

.services rental {
    background-color: $secondaryColor;
    color: $primaryColor;
    width: 50rem;
    text-align: center;
    border: 20rem solid $primaryColor;
} */

