html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

@for $i from 1 through 12 {
    $w: ($i / 12) * 100%;

    .small-#{$i} {
        flex-basis: $w;
    }
}

body {
    background-image: url("../images/backround.jpg") no-repeat;
    margin-top: 0px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    margin-left: auto;
    margin-right: auto;
    background-color: lightgray;
    background-repeat: repeat;
    display: flex;
    flex-direction: column;
    height: 100%;
    
    padding:0;
 
}

h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.row {
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;

}

.col {
    flex-wrap: wrap;
    flex-direction: column;
}

.limit {
    width: 50%;
    margin: auto;
}

/*Header CSS*/

.headercontainer {
    background-color: $primaryColor;
    color: $secondaryColor;
    width: 100%;
    min-width: 250px;
    margin: auto;
    flex-wrap: wrap;
    align-items: center;

    .row {
        padding: 1em;
        width: 100%;
        margin: auto;
        justify-content: center;

    }

    h1 {
        font-size: 3em;
        margin: 0;
        text-align: center;
    }

    h2 {
        font-size: 2.3em;
        font-style: italic;
        margin: 0;
        padding: 0;
        text-align: center;
        ;
    }

    img {

        align-self: center;



    }

}

/*Nav CSS*/

.navcontainer {
    background-color: $secondaryColor;
    width: 100%;



    li {
        list-style: none;
    }

    li.active {
        background-color: rgba($color: green, $alpha: .4);

        a {
            color: orange;
        }
    }
}

a {
    display: block;
    color: $primaryColor;
    font-weight: 700;
    padding: .10em 0 .8em 0;
    text-decoration: none;
    text-align: center;




}

nav ul.open {
    display: block;
}

nav ul {
    margin: 0%;
    padding: 0em 0em 0em 0em;
    display: none;
}

nav li:hover {
    background-color: rgba($color: green, $alpha: .3);
    color: $secondaryColor;
}

/*Main Section CSS */
.maincontainer {
    width: 100%;
   
    margin: auto;
    justify-content: center;

    h2 {
        color: $primaryColor;
        font-size: 3.8em;
        font-family: fantasy;
        text-align: center;
    }

    .row {

        width: 100%;
        text-align:center;
        justify-content: center;
    }


    img {
        min-width: 500px;
        height: auto;
        margin: 0;
        padding: 0;
        box-shadow: 20px 4px 12px black
    }

    figcaption {
        text-align: right;
        padding: 1em 01em .6em 2em;
        background-color: orange;
        color: green;
        font-weight: 700;


    }
    .col{

        text-align:center;
        
        img{
            max-width:100%;
            display:flex;
        }
    }
    

}


.indextag {
    h2 {
        color: $primaryColor;
        font-weight: 700;
        font-size: 2.6em;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        width: 100%;
        margin: auto;
    }
}

.indextagcontain {
    width: 90%;
    margin: auto;

    h3 {
        font-size: 2.7em;
        color: $secondaryColor;
        margin:0;
    }
    p{
        font-size: 1.7em;
        width:50%;
        margin:0;
    }

}

/*Footer CSS */
.footercontain {
    width: 100%;
    margin: 0;
    background-color: $primaryColor;
    padding: 10%;
    height:100%;
    bottom:0;
   
    
    
    h2 {
        color: $secondaryColor;
        font-size: 2.5em;
        margin: .4em 0em .2em .40em;
    }

    .row {
        width: 25%;

        padding: 0em;
        margin: auto;
    }

    .col {
        flex-wrap: wrap;
        flex-basis: 25%;
    }
}




.footercontain ul {
    font-size: 1.6em;
    margin: 0em 2em;
    padding: 1em;
    font-weight: 700;
}

.social {
    justify-content: center;
    flex-direction:row;
    a{
    
        margin:0;
        max-width:60px;
        padding:0;
        flex-direction:row;
    }
    img {
        margin: .4em;
        flex-direction: column;
      
    }

}

.aboutus {

    flex-basis: 100%;


}

.logofoot {
    width: 50%;
    margin: auto;


}

.crcontainer{
    width:50%;
    min-width:90px;
    max-width:1000px;

.copyright {
    padding: 0em;
    width: 100%;
    text-align: center;
      }
}

/*Service Page */

.servicepics {

    width: 50%;
    min-height: 30px;

    .col {
        flex-basis: 20%;
        margin: 1em auto;
        background-color: $secondaryColor;
        border-radius: 5%;
        min-height: 500px;
        min-width: 500px;
        flex-grow: .3;
    }

    img {
        border-radius: 7%;

    }

    h3,
    p {
        color: $primaryColor;
        padding: 0em 0em 0em 0rem;
        font-size: 3em;
        margin: .1em;
        padding: 0;
        text-align: center;
    }

    p {
        font-size: 2em;
    }
}

.servicerowcontainer {
    display: none;

    .row .house {
        width: 100%;
    }

    .row .lane {
        width: 50%;
    }

    .col {
        width: 16%;
        background-color: $secondaryColor;
        color: $primaryColor;
        font-weight: 700;
        font-size: 1.0em;
        text-align: center;
        border-radius: 15%;

    }

    img {
        border-radius: 10%;
        min-width:100%;
   
   
    }
   
}

.propertiescontainer {
    width: 20%;


    .row {
        max-width: 13px;


    }

    .col {
        background-color: black;
        border-radius: 10%;
        margin: 1.2em;
        padding: 1em;

    }

    h3,
    h4,
    h6 {
        color: $primaryColor;
        text-align: center;
        padding:0em 0em 1em;
        font-size: 2.5em;
        margin: .5em 0em 0em 1em;
    }

  
}

/*Contact Us Page*/
.set1 {
    flex-basis:50%;
    flex-direction: row-reverse;
    width:100%;
    max-width:1000px;
    
    form {
            fieldset {
                border: 1px solid lightgrey;
                border-radius: .4rem;
                padding: 0 2rem;
                margin: 2rem 8rem;
    
                legend {
                    text-align: center;
                    color: $secondaryColor;
                    padding: 0 .4rem;
                }
            }
    
            label {
                display: block;
                padding: .75rem 0;
    
                span {
                    font-size: .75rem;
                    color: $secondaryColor
                }
    
                input,
                textarea {
                    display: block;
                    font-size: 1rem;
                    padding: .75rem;
                    background-color: lightgreen;
                    border: 1px solid black;
                    color: $primaryColor;
                    margin-top: .2rem;
                    width: 100%;
                }
    
                textarea {
                    min-height: 13rem;
                }
    
                input:required {
                    border: 2px solid black;
                }
    
                input:required:valid {
                    border: green;
                }
    
                input:focus,
                textarea:focus {
                    background-color: #ddd
                }
            }
    
            input.submitBtn {
                border: none;
                background-color: $secondaryColor;
                color: white;
                font-size: 1.5rem;
                font-weight: 300;
                padding: .4rem;
                border-radius: 1rem;
                width: 100%;
            }
        }
    }

   /*About Page*/


.history {

    color: $secondaryColor;
    font-size: larger;
    margin:1rem;
    flex-wrap: wrap;
    background-color: black;
    width:48%;

    h2,
    h3 {
        color: $primaryColor;
        text-align: center;
    }

    p {
        text-align: center;

        
    }
}


.team {

    color: $secondaryColor;
    font-size: larger;
    margin: 1rem;
    flex-wrap: wrap;
background-color: black;
    width:48%;

    h2,
    h3 {
        color: $primaryColor;
        text-align: left;

    }

    p {
        text-align: center;
        display:flex;
        flex-wrap:wrap;
    }
}
.arti {
    display: flex;
    flex-basis: 50%;
    width: 100%;
    flex-wrap: wrap;
    min-width: 75%;
    
}


/*Thanks Page */

.thanks{
    background-image: url("../images/chicago.jpg") ;
}
#thanks{
    background-image: url("../images/chicago.jpg") no-repeat;

    margin:0;
    
 h1{
 color:green;
 text-align: center;
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 font-size:900%;
 }
 img{
     max-width:7px;
     margin:0;
 }
}

#thanksimg{
    max-width: 7px;
}
